*{
		margin:0;
		padding:0;
	}
	html,body{
		width:100%;
		height:100%;
	}
	body{
		background: url(../images/bg.jpg) ;
		overflow: hidden;
		font-family: Lato,"Microsoft YaHei",sans-serif;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.wrapper{
		width:640px;
		/*margin:40px auto;*/
		height:550px;
		/*-webkit-border-radius: 4px;*/
		border-radius: 10px;
		-webkit-box-shadow:0 0 10px rgba(17,15,15,.5);
		-moz-box-shadow:0 0 10px rgba(17,15,15,.5);
		box-shadow:0 0 10px rgba(17,15,15,.5);
		background: #fff;
		position: absolute;
		top:50%;
		left:50%;
		margin-top:-275px;
		margin-left:-320px;
	}
	.top-panel{
		width:100%;
		height:40px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #008a75;;
	}
	.name{
		font-size:1.1em;
		color:#fff;
		line-height: 40px;
		display: inline-block;
	}

	.skill-set{
		border-top:2px solid #9d9393;
		margin:10px auto;
		width:100%;
		
	}
	.skill-set dl {
	    padding: 10px 0 0 10px;
	    width:65%;
	  }
  
 .skill-set dl dt { 
    margin-bottom: 20px;
    font-weight: 600;
    color:#062f38;
  }
  
 .skill-set dl dd {
    display: inline-table;
    width: auto;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #008a75;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
  }
  .glyphicon-user{
  	color:#fff;
  	margin-left:10px;
  	cursor:pointer;
  }
  .glyphicon-list{
  	float:right;
  	color:#fff;
  	margin-right:18px;
  	margin-top:10px;
  	cursor:pointer;
  }
  .glyphicon-wrench{
  	margin:0 6px 0 4px;
  }
  .profession{
  	color:#008a75;
  	display: block;
  	margin:10px 26px;
  }

  .content{
  	/*border:1px solid #000;*/
  	height:300px;
  	width:100%;
  	overflow:hidden;
  }	
  .container{
  	width:92%;
  }
  .maskLayer{
  	width:100%;
  	height:100%;
  	
  	background: #000;
  	-moz-opacity: .5;
  	/*opacity: .5;*/
  	filter:alpha(opacity=50);
  	background:rgba(0,0,0,.5)!important;
  	z-index:999;
  	left:0;
  	top:0;
  	text-align: center;
  	display: table;
  	position: absolute;
  	visibility: hidden;
  }
  /*.list-group{
  	width:40%;
  	position: absolute;
	left:50%;
	top:50%;
	text-align:center;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index:999;
  }*/
  .subwrap{
	display: table-cell;
	vertical-align:middle;
	
  }
 .list-group{
 	position: relative;
 	width:40%;
 	display: inline-block;
 }
 .list-group-item{
 	cursor: pointer;
 	background-color:#d9edf7;
 }
 .list-group-item:hover{
 	color:#fff;
 	background-color:#008a75; 
 }
 .project-list,.interest-list{
 	list-style: none;
 }
 .name-pro{
 	font-weight: bold;
 	font-size:1.2em;
 	color:#008a75;
 }
 .describe-pro{
 	color:#abc;
 	display: block;
 	height:16px;
 	line-height:16px;
 	margin:6px 10px 28px;
 	width:70%;
 }
 .small-pro{
 	margin-top:10px;
 }
 a{
 	text-decoration: none;
 }
 a:hover, a:active {
    text-decoration: none;
}
.page4,.page2,.page3{
	display: none;
}
.small-inter,.small-skill{
	margin-bottom:10px;
	color:#000;
	width:90%;
	font-weight: bold;
	color:rgba(0,0,0,.6);
}
.interest-list,.skill-list,.basic-list{
	margin-top:40px;
	margin-left:20px;
}
.skill-list{
	list-style-type:square;
}
.basic-title{
	color:#008A75;
	font-size:1.2em;
	font-weight:bold;
	margin:10px auto 4px;
}
.sub-title{
	font-weight: 600;
}
.third-title{
	font-size:.8em;
}
.motto{
	width:250px;
	position: absolute;
	text-align: center;
	/*left:100px;*/
	/*top:20px;*/
	top:-40px;
	height:40px;
	line-height:40px;
	color:#fff;
	background-color:#008a75;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px; 
	-webkit-box-shadow:0 0 10px rgba(17,15,15,.5);
	-moz-box-shadow:0 0 10px rgba(17,15,15,.5);
	box-shadow:0 0 10px rgba(17,15,15,.5);
}
.glyphicon-hand-down{
	position: absolute;
	top:20px;
	color:#fff;
	font-size:22px;
	-webkit-animation:handmove 5s infinite;
	-moz-animation:handmove 5s infinite;
	-o-animation:handmove 5s infinite;
	animation:handmove 5s infinite;
}

@-moz-keyframes handmove{
	0% {top:10px; color:#fff;}
	100% {top:46px; color:#000;}
}
@-webkit-keyframes handmove{
	0% {top:10px; color:#fff;}
	100% {top:46px; color:#000;}
}
@-o-keyframes handmove{
	0% {top:10px; color:#fff;}
	100% {top:46px; color:#000;}
}
@keyframes handmove{
	0% {top:10px; color:#fff;}
	100% {top:46px; color:#000;}
}